.media {
  display: flex;
  margin: 0 1rem;
}

.media .media-image-container {
  display: flex;
  align-items: center;
  align-content: center;
}

.media .media-body {
  padding-left: 1rem;
}
.media .media-body h5, .media .media-body p {
  margin-top: 0;
  margin-bottom: .5rem;
}
